.App {
  text-align: center;
}

.player-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.player-card{
  width: 310px;
  display: inline-block;
  margin: 20px;
  border: 1px solid black;
  border-radius: 40px;
  cursor: pointer;
}



.player-selected {
  background-color: rgb(95, 150, 252);
  color: aqua;
}